extends layout

block content
  // /.container-fluid
  .container.text-center
    // HEADER
    .page-header
      h1 About the Project
      p The purpose of this project is to demonstrate, test, and gather anonymous usage data on some potential uses of facial emotion analysis technology.
    // CONTENT
    .row.text-left
      .col-sm-3
        img.img-rounded(src='media/img/about_photo.jpg', alt='Chris Melfi Portrait Photo', width='100%')
      .col-sm-5
        h2 Chris Melfi
        p Hey! I'm a final-year Digital Design student at Brunel University. 
        p Usually I'd stick to branding, web and UX design, but for this project I felt like diving head-first into a bit of development...
        p Behold, my first ever Node.js project.
      .col-sm-4.panel.greybackground
        h2 Google Vision API
        p This project was made possible by using the Google Cloud Vision API, meaning I didn't have to create an entire facial analysis bot by myself.
        p More information available 
         a(href="https://cloud.google.com/vision/") here.
    .row.text-left
      .col-sm-12
        h2 Information
        p This application is only currently a bare-bones version of what is possible, and is by no-means a finished product.
        p Gathering this data is important in the grand scheme of things, hopefully giving both developers and users an idea of how accurate the technology (in this case using Google's libraries) can be. If developed further as a testing platform, different scenarios, libraries and technologies could be experimented with and compared.
        p Thanks for checking out The Facial Analysis Project, if you've got any general feedback or questions please get in touch via
          a(href="https://www.surveymonkey.co.uk/r/GDLVWTL")  this link.
    .row
      a.btn.btn-primary.btn-lg.bluebackground(href='/home', role='button') Return to Scenario Selection