extends layout

block content
  // /.container-fluid
  .container.text-center
    // HEADER
    .page-header
      h1 Data
      p See how facial analysis has scored up amongst various users.
    // CONTENT
    .row.text-left.greybackground
      .col-sm-4
        h2 Overview
    .row.text-left.greybackground.paddingbottom
      .col-sm-4
        h3 Usage
        p Usernames Entered - 
        p Scenarios Tested - 
      .col-sm-4
        h3 Feedback
        p It all worked well - 
        p Some of it worked - 
        p None of it worked - 
      .col-sm-4
        h3 Potential
        p Yes - 
        p No - 
    br
    .row.text-left.greybackground.paddingbottom
      .col-sm-4
        h2 A Helping Hand
        p Scenarios Tested - 
        h3 Feedback
        p It all worked well - 
        p Some of it worked - 
        p None of it worked - 
        h3 Potential
        p Yes - 
        p No - 
      .col-sm-4
        h2 Pull That Face!
        p Scenarios Tested - 
        h3 Feedback
        p It all worked well - 
        p Some of it worked - 
        p None of it worked - 
        h3 Potential
        p Yes - 
        p No - 
      .col-sm-4
        h2 Matters of Privacy
        p Scenarios Tested - 
        h3 Feedback
        p It all worked well - 
        p Some of it worked - 
        p None of it worked - 
        h3 Potential
        p Yes - 
        p No - 
    .row
      a.btn.btn-primary.btn-lg.bluebackground(href='/', role='button') Return to Scenario Selection