extends layout

block content
  // /.container-fluid
  .container.text-center
    // HEADER
    .page-header
      h1 A Helping Hand
      p In this test we will be looking at the accuracy of Google's response to a user's sadness, distress and pain.
    // CONTENT
    .row
      .col-sm-6.text-left
        h2 Why
        p If you notice a friend having a rough day, is upset or even just stressed, it's nice being able to do something about it.
        p Sadly, people aren't always around to notice. Giving a computer the power to act with compassion, empathy and general kindness isn't just worth trying from a technical perspective, but could genuinely help someone out. Whether it's some sad news or painful emergency, emotion recognition might help.
        p Of course, initially recognising the emotion would only be a small part of the entire process... but can we even do that yet?
      .col-sm-6.text-left.panel.greybackground
        h2 Instructions
        p As soon as you press Begin Scenario, you'll have a total of 20 seconds in which to show any facial expressions you personally associate with sadness, distress or pain.
        p Once the script picks up an expression it associates with any of the above, it will respond by asking if you're ok.
    .row
      a.btn.btn-default.btn-lg(href='/', role='button') Back
      a.btn.btn-primary.btn-lg(href='/scenario_1_active', role='button') Begin Scenario