extends layout

block content
  // /.container-fluid
  .container.text-center
    // HEADER
    .page-header
      h1 Pull That Face!
      p
        | In this test we will be looking at how facial analysis could be used in an interactive game.
    // CONTENT
    .row
      .col-sm-6.text-left
        h2 Why
        p
          | With virtual and augmented reality experiences springing up all over the place, we can safely assume that head movement is not the only action that games will be tracking.
        p
          | Will it be long until games include emotional interaction through facial expressions? We don't think so...
      .col-sm-6.text-left
        h2 How
        p
          | When you press begin test, the game will begin. One at a time, expressions will appear on screen for you to demonstrate. If the script recognises your expression, it will be marked correct. If the script does not recognise your expression, it will be marked incorrect.
        p
          | There will be a total of X expressions - each allowing less time than the last. The aim for you is to get as many correct as possible. Good luck!
    .row
      a.btn.btn-default.btn-lg(href='/', role='button') Back
      a.btn.btn-primary.btn-lg(href='/scenario_2_active', role='button') Begin Scenario
