extends layout

block content
  // /.container-fluid
  .container.text-center
    // HEADER
    .page-header
      h1 Post-Scenario Feedback
      p Now's your chance to feed back on this particular scenario experience.
    // CONTENT
    form.text-left.col-sm-12.greybackground.paddingbottom
      .row.col-sm-12
        .form-group
          h4
            label How did it go? (required)
          .radio-inline
            label
              input#optionsRadios1(type='radio', name='optionsRadios', value='option1')
              p It all worked well
          .radio-inline
            label
              input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
              p Some of it worked
          .radio-inline
            label
              input#optionsRadios3(type='radio', name='optionsRadios', value='option3')
              p None of it worked
        .form-group
          h4
            label(for='whathappenedtextarea') Please briefly describe your experience.
          textarea#whathappenedtextarea.form-control(rows='2')
        .form-group
          h4
            label Can you see the potential for facial analysis in the future of communication? (required)
          .radio-inline
            label
              input#optionsRadios1(type='radio', name='optionsRadios1', value='option1')
              p Yes
          .radio-inline
            label
              input#optionsRadios2(type='radio', name='optionsRadios1', value='option2')
              p No
        .form-group
          h4
            label(for='whynottextarea') Do you have any other comments?
          textarea#whynottextarea.form-control(rows='2')
      .row
        .form-group.text-center
          a.btn.btn-default.btn-lg(href='/data', role='button') Skip
          button.btn.btn-primary.btn-lg(href='/data', type='submit') Submit
