extends layout

block content
  // /.container-fluid
  .container.text-center
    // HEADER
    .page-header
      h1 Pull That Face!
      h4 (Coming soon)
      p In this test we will be looking at how facial analysis could be used in interactive gaming.
    // CONTENT
    .row
      .col-sm-6.text-left
        h2 Why
        p With virtual and augmented reality experiences springing up all over the place, we can safely assume that head movement is not the only action that games will be tracking.
        p Will it be long until games include emotional interaction through facial expressions? I don't think so...
      .col-sm-6.text-left.panel.greybackground.paddingbottom
        h2 Instructions
        p When you press begin test, the game will begin. One at a time, expressions will appear on screen for you to demonstrate. If the script recognises your expression, it will move on to the next expression.
        p There will be a total of 10 expressions. The aim for you is to get as many as possible in the time given. Good luck!
    .row
      a.btn.btn-default.btn-lg(href='/home', role='button') Back
      a.btn.btn-primary.btn-lg(role='button' disabled) Scenario Unavailable
