extends layout

block content
  // /.container-fluid
  .container.text-center
    // HEADER
    .page-header
      img(src="media/img/logo/fa-icon-colour.png" alt="logo-icon-colour" name="logo-icon-colour")
      h3 Welcome to The Facial Analysis Project
    // CONTENT
    .row.text-left
      .col-sm-6
          h2 What is it?
          p Facial analysis in tech right now is
            b
              i  pretty damn cool.
          p We've got Snapchat filters, secure device unlocking and even auto-tagging in social media uploads. But can we go a bit further, and can we do it now?
          p Looking strictly at reading emotion from the face in real-time, this simple web-app demonstrates scenarios in which it could be helpful to do so, and then asks for your feedback on how well each one worked. Is the available technology accurate enough, fast enough and ready for reliable, real-world use?
      .col-sm-6.panel.greybackground.paddingbottom
        h2 What you'll need:
        ul
          li Any computer or android device with a front-facing camera. (No iPhones, sorry!)
          li A semi-reliable internet connection.
          li A face.
          li Please ensure you are viewing this site under https://, not http://, otherwise it will not work.
            a(href="https://facialanalysis.herokuapp.com")  Click here for the https version.
    .row
      a.btn.btn-primary.btn-lg(href='/home', role='button') Continue to Scenario Selection