extends layout

block content
  // /.container-fluid
  .container.text-center
    // HEADER
    .page-header
      h1 Lorem ipsum dolor sit amet, consectetur adipiscing!
      p
        | Mauris elit orci, ultricies id fermentum vel, porta et eros. Vestibulum condimentum lectus in convallis feugiat.
      a.btn.btn-primary.btn-lg(href='/new_user', role='button') Get Started
    // CONTENT