extends layout

block content
  // /.container-fluid
  .container.text-center
    // HEADER
    .page-header
      h1 Terms & Conditions
      p What happens with all this data?
    // CONTENT
    .row.text-left
      .col-sm-7
        h2 Privacy
        h3 1. Camera Feed Analysis
        p To analyse the camera feed an image is created for a split second, analysed, then deleted. Personal data, images or videos are kept by Google or The Facial Analysis Project. Not one video or image is ever even seen by a human.
        h3 2. Feedback Data
        p All feedback data submitted is, by default, completely anonymous. Neither The Facial Analysis Project, nor Google gather any personal information from any user unless that user chooses to write and include personal information inside their feedback.
      .col-sm-5.panel.greybackground
        h2 Can I remove my feedback?
        p Please get in touch using
          a(href="https://www.surveymonkey.co.uk/r/GDLVWTL")  this form.
        p If for any reason you'd like to remove your feedback from The Facial Analysis Project's databases. Though I do stress, as mentioned above, all feedback is anonymous.
    .row
      a.btn.btn-primary.btn-lg(href='/home', role='button') Return to Scenario Selection