/* COLORS */


/*

dark blue       - #28425F
blue            - #6286AF
light blue      - #9ECBFF
dark grey       - #292929
light grey      - #EEEEEE
white           - #ffffff
black           - #000000

*/


/* FONT IMPORTS */


@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-thin.eot'),
        url('../fonts/Proxima Nova/proxima-nova-thin.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-thin.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-thin.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-thin.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-light.eot'),
        url('../fonts/Proxima Nova/proxima-nova-light.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-light.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-light.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-light.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-reg.eot'),
        url('../fonts/Proxima Nova/proxima-nova-reg.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-reg.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-reg.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-reg.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-reg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-sbold.eot'),
        url('../fonts/Proxima Nova/proxima-nova-sbold.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-sbold.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-sbold.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-sbold.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-sbold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-bold.eot'),
        url('../fonts/Proxima Nova/proxima-nova-bold.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-bold.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-bold.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-bold.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-xbold.eot'),
        url('../fonts/Proxima Nova/proxima-nova-xbold.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-xbold.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-xbold.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-xbold.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-xbold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-black.eot'),
        url('../fonts/Proxima Nova/proxima-nova-black.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-black.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-black.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-black.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-thin-it.eot'),
        url('../fonts/Proxima Nova/proxima-nova-thin-it.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-thin-it.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-thin-it.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-thin-it.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-thin-it.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-light-it.eot'),
        url('../fonts/Proxima Nova/proxima-nova-light-it.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-light-it.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-light-it.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-light-it.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-light-it.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-reg-it.eot'),
        url('../fonts/Proxima Nova/proxima-nova-reg-it.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-reg-it.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-reg-it.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-reg-it.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-reg-it.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-sbold-it.eot'),
        url('../fonts/Proxima Nova/proxima-nova-sbold-it.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-sbold-it.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-sbold-it.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-sbold-it.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-sbold-it.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-bold-thin-it.eot'),
        url('../fonts/Proxima Nova/proxima-nova-thin-it.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-thin-it.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-thin-it.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-thin-it.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-thin-it.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-xbold-it.eot'),
        url('../fonts/Proxima Nova/proxima-nova-xbold-it.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-xbold-it.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-xbold-it.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-xbold-it.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-xbold-it.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/Proxima Nova/proxima-nova-black-it.eot'),
        url('../fonts/Proxima Nova/proxima-nova-black-it.otf') format('opentype'),
        url('../fonts/Proxima Nova/proxima-nova-black-it.svg') format('svg'),
        url('../fonts/Proxima Nova/proxima-nova-black-it.ttf') format('truetype'),
        url('../fonts/Proxima Nova/proxima-nova-black-it.woff') format('woff'),
        url('../fonts/Proxima Nova/proxima-nova-black-it.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans);

/* FONTS */


html {
  font-family: 'ProximaNova', 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  color: #292929;
}

body {
  font-family: 'ProximaNova', 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  color: #292929;
}

h1 {
  font-family: 'ProximaNova', 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36pt;
  color: #292929;
}

h2 {
  font-family: 'ProximaNova', 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24pt;
  color: #6286AF;
}

h3 {
  font-family: 'ProximaNova', 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20pt;
  color: #292929;
}

h4 {
  font-family: 'ProximaNova', 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18pt;
  color: #6286AF;
}


/* NAV */


.navbarcustom {
  background-color: #fff;
  border: none;
  font-size: 16pt;
}

.navbarcustomcurrent {
  background-color: #fff;
  font-weight: 700 !important;
  color: #6286AF !important;
}

.navbar-brand {
  font-size: 16pt;
}

/*.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}*/

/* SCENARIOS */


.scenarioselectionbox {
  background-color: #EEEEEE;
  padding: 30px 0 10px 0;
  border-radius: 4px;
}

.canvas_container {
  position: relative !important;
}

.canvas_container_absolute canvas {
  position: absolute !important;
  width: 95%;
}

#canvas_overlay {
  position: absolute !important;
  width: 60%;
  margin-left: 20%;
  margin-top: 3%;
}

canvas {
  width: 100%;
  margin: 0 0 15px 0;
  text-align: none !important;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
}

video {
  width: 100%;
  margin: 0 0 15px 0;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
/*  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);*/
}

.distress_ok {
  height: 100%;
  background-color: green;
  color: white;
  font-weight: 700;
  font-size: 24pt;
  padding: 15px;
  margin: 15px 0 15px 0;
}

.distress_help {
  height: 100%;
  background-color: red;
  color: white;
  font-weight: 700;
  font-size: 24pt;
  padding: 15px;
  margin: 15px 0 15px 0;
}


/* SIMPLE STYLES */


.greybackground {
  background-color: #EEEEEE;
  border-radius: 4px;
}

.paddingbottom {
  padding-bottom: 20px;
}

.bluebackground {
  background-color: #6286AF;
}

.lightbluebackground {
  background-color: #fff;
}

.whitecolor {
  color: #fff;
}

.greencolor {
  color: green;
}

.orangecolor {
  color: orange;
}

.redcolor {
  color: red;
}



/* BUTTONS */


.btn-primary {
  background-color: #6286AF;
}

.btn {
  font-weight: 600;
  border-color: #EEEEEE;
}

.btn-lg {
  padding: 10px 18px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  margin-top: 15px;
}


/* FOOTER */

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}*/